* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
nav{
   background-color: white;

}
.navbar ul li{

    padding: 0px 10px;

}


.nav-link{
    color: rgb(243, 8, 8);
    font-family: 'Orbitron', sans-serif;
}
.nav-link:hover{
    background-color: rgb(243, 8, 8);
    color: white;
    border-radius: 10px;
}
h1{
    font-family: 'Orbitron', sans-serif;
font-family: 'Unbounded', sans-serif;
    /* font-family: 'Orbitron', sans-serif;
font-family: 'Unbounded', sans-serif; */
}

.address{
    text-align: start; 
}
.address i{
    font-size: 20px;
    color: red;
}
.contact{
    background-image: url(assets/contact.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(43, 226, 113, 0.438);
}
.contact-bg{
    background-color: rgba(43, 165, 226, 0.658);
}

.reg{
    background-color: rgb(2, 1, 48);
    border-radius: 10px;
    margin-bottom: 20px;
}
.reg h1{
    color: white;
}
.courses .card i{
    font-size: 100px;
    text-align: center;
    color: rgb(212, 70, 70);
}
.card p, h3{
    text-align: center;
}
footer{
    background-color: rgb(7, 60, 83);
    color: white;
}
footer h1{
    font-size: 20px;
    color: rgb(220, 162, 4);
}
footer i{
    color: rgb(220, 162, 4);
}
.bottom{
    background-color: rgb(2, 34, 54);
    color: white;
    text-align: end;
}
.bottom p{
    text-align: center;
}
.about-text{
    text-align: justify;
}
.training{
    font-size: 100px;
    text-align: center;
    color: rgb(255, 123, 0);
}
.aboutus-banner{
    width: 100%;
    height: 100px;
    background-image: url(assets/banner3.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutus-banner h1{
    padding: 30px 200px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: white;
}
.student{
    padding-top: 100px;
}
.student-form{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgb(2, 75, 97), -5px -5px 10px rgb(2, 75, 97);;
}
.student-form h1{
    color: rgb(2, 75, 97);
}
.paragraph{
    border: 1px solid rgb(2, 75, 97);
    width: 100px;
    margin: auto;
    margin-bottom: 3px;
}
.icon1, .icon2,.icon3, .icon4, .icon5, .icon6{
    height: 30px;
    width: 35px;
    border-radius: 10px;
    color: white;
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    font-size: 20px;
}
.icon1{
    margin-bottom: 100px;
    z-index: 2;
    color: green;
}
.icon2{
    z-index: 3;
    margin-bottom: 140px;
    color: rgb(212, 70, 70);
}
.icon3{
    z-index: 4;
    margin-bottom: 180px;
    color: rgb(14, 95, 218);
}
.icon4{
    z-index: 5;
    margin-bottom: 220px;
    color: rgb(177, 3, 180);
}
.icon5{
    z-index: 6;
    margin-bottom: 260px;
    color: rgb(231, 7, 7);
}
.icon6{
    z-index: 7;
    margin-bottom: 300px;
    color: rgb(8, 60, 173);
}
.demo-reg{
    background-image: url(assets/demo-reg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.demo-form{
    text-align: center;
    margin: 30px;
    width: 400px;
    padding: 20px;
    background-color: rgba(31, 31, 20, 0.425);
    border-radius: 10px;
    color: white;
}
.demo-form select,.demo-form input,.demo-form textarea{
    padding: 10px;
    margin: 5px 0px;
   
}


.demo-reg1{
    background-image: url(assets/demo-reg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  
    
}
.demo-reg1 h1{
    color: rgb(220, 162, 4);
}
.demo1{
    background-color: rgba(10, 54, 108, 0.703);
    color: white;
}
.demo-reg1 .overview i{
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    border-width: 3px;
    border: 5px solid rgb(220, 162, 4);
    animation-name: zoomin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.enroll-reg{
    background-image: url(assets/demo-reg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}
.enroll{
    background-color: rgba(10, 54, 108, 0.703);
    color: white;
    
}
.enroll h6{
    width: 60%;
   
    background-color: rgb(220, 58, 4);
    margin: auto;
    padding: 10px;
    border-radius: 30px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.eligibility p i{
    color: green;
}
.eligibility a{
    background-color: rgb(220, 162, 4);
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(220, 162, 4);
    justify-content: center;
    text-decoration: none;
    color: black;
}
.learn, .projects{
    padding: 20px 100px;
    background-color: rgb(210, 215, 220);
}
.learn i,.projects i{
    color: rgb(220, 162, 4);
}
.learn .card, .projects .card{
    padding: 10px;
    margin-bottom: 5px;
}

.learn #course1, #course2, #course3, .projects #projects1,#projects2,#projects3{
    background-color: rgb(2, 75, 97);
    color: white;
}
.content h3,p,i{
    text-align: start;
}
.content .card i,.projects .card i,.questions .card i,.learn .card i{
    background-color: rgb(220, 58, 4);
    padding: 5px;
    border-radius: 50%;
    color: white;
}
.content .collapse{
    background-color: rgb(2, 75, 97);
    color: white;
}
.content .collapse i{
    color: rgb(220, 162, 4);
}
.content .demo{
    background-image: url(assets/demo-reg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.book-demo{
    background-color: rgba(2, 75, 97, 0.712);
    color: white;
    border-radius: 10px;
}
.certificate .parts{
    background-color: rgb(2, 75, 97);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px 0px 10px 0px;
    margin: 20px;
}
.certificate p{
    text-align: justify;
}
.certificate img{
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.3);
}
.questions{
    background-color: rgb(236, 240, 243);
    margin: auto;
}
.questions h3{
    text-align: start;
}
.questions p{
    text-align: justify;
}
.questions #qsn1,#qsn2, #qsn3, #qsn4,#qsn5,#qsn6,#qsn7{
    background-color: rgb(2, 75, 97);
    color: white;
    text-align: start;
    text-align: justify;
}
.questions .job-roles{
    padding: 0px 50px;
}
.questions .job-roles i{
    color: rgb(220, 58, 4);
}

.questions .card{
    padding: 10px;
    margin-bottom: 10px;
    
}
.refer{

    width: 100%;
    height: 100%;

}
.refer .earn{
    padding: 50px 10px 50px 200px;
}

.refer img{
    width: 200px;
    height: 150px;
    
}
.payment{
    padding: 50px 200px;
    border: 2px solid gray;
}
.payments{
    padding: 50px 200px;
}
@keyframes zoomin{
    0%{
    
    border-radius: 50%;
    
    border: 5px solid rgb(220, 162, 4);
    }
    50%{
  
    border-radius: 50%;
    
    border: 10px solid rgb(220, 162, 4);
    }
    100%{
 
    border-radius: 50%;
   
    border: 5px solid rgb(220, 162, 4);
    }
}

@keyframes blink{
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
